@import 'helpers/mixins';

$displayFont: 'Lato', sans-serif;
$bodyFont: 'Cardo', serif;

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: #000;
      }
#map {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#logo {
  position: relative;
  z-index: 1;
  width: 50%;
  img {
    max-width: 100%;
  }
  @media only screen and (max-width: 981px) {
    width: 100%;
  }
}

#blade {
  position: absolute;
  bottom: 0;
  left: -120vw;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 20;
  width: 450px;
  height: 650px;
  max-height: 100%;
    @include transition(left .5s linear);
  @media only screen and (max-width: 981px) {
    top: 0;
    height: auto;
    width:100%;
    overflow: scroll;
  }
}
.content {padding: 26px;}

#blade.active {
  left: 0;
}
#bladeImg {
  max-width: 100%;
}
.watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 60%;
  z-index: -1;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  &:hover {
    background: none;
    color: white;
  }
  &:focus {
    outline: none;
  }
  &:after {
  content: '✖';
  }
}
#bladeTitle {
  font-family: $displayFont;
  text-transform: uppercase;
  letter-spacing: .5em;
  @media only screen and (max-width: 981px) {
    font-size: 1.2em;
    letter-spacing: .3em;
  }
}
#bladeDesc {
  font-family: $bodyFont;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
